/* POPPINS GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* BODY ALIGNMENT FIXED */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

/* HEADER BLOCK */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    transition: 0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
}
nav .logo{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
}
nav ul{
    position: relative;
    display: flex;
}
nav ul li{
    list-style: none;
    position: relative;
}
nav ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover{
    border-bottom: #f5c71a 2px solid;
}

/* CONTENT BLOCK */ 
nav.shrink{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
nav.shrink .logo,
nav.shrink ul li a{
    color: #111;
}

/* CONTENT BLOCK */ 
section{
    padding: 80px;
}

/* BANNER BLOCK */
.banner{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    /* background: url("images/bannerImg.jpeg"); */
    background: linear-gradient(45deg, black, transparent), url(images/bannerImg.jpeg);
    background-size: cover;
    background-position: center;
}
.banner h2{
    font-size: 2.5em;
    color: rgb(252, 252, 252);
    font-weight: 300;
    line-height: 1.5em;
}
.banner h2 span{
    font-size: 1.2em;
    color: #efefef;
}
.banner h3{
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
}

/* BUTTON */
.bton{
    position: relative;
    background-color: #f5c71a;
    display: inline-block;
    color: #111;
    margin-top: 20px;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
}

/* ABOUT ME */
.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}
.heading p{
    /* font-style: italic; */
    font-size: 14px;
}
.heading h2{
    font-size: 3em;
    color: #f5c71a;
}
.content{
    display: flex;
    justify-content: space-between;
}
.contentBox{
    padding-left: 40px;
    text-align: justify;
}
img.profile-pic {
    width: 300px;
    height: 350px;
}
.contentBox h2{
    font-weight: 300;
    margin-bottom: 10px;
}
.heading.bottom{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.bt{
    margin-top: 20px;
}
.w50{
    min-width: 25%;
}
img{
    max-width: 100%;
}

/* MY SKILLS BLOCK */
.mySkills{
    background: #111;
}
.heading.white p{
    color: #fff;
}
.mySkills .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.mySkills .content .skillBox{
    color: #fff;
    background: #161616;
    margin: 10px 15px;
    padding: 30px 15px;
    text-align: center;
    max-width: 360px;
}
.mySkills .content .skillBox:hover{
    border-bottom: 2px solid #f5c71a;
    cursor: pointer;
}
.mySkills .content .skillBox > i{
    color: #f5c71a;
}

/* PROJECTS BLOCK */
.projects .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.projects .content .projectBox{
    width: 300px;   
    padding: 20px;
}
.projects .content .projectBox img{
    max-width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.4);
}
.projects .content .projectBox img:hover{
    box-shadow: 0 0 20px 5px #ccc;
    transform: scale(1.008);
    -webkit-transform:scale(1.008);
    -moz-transform:scale(1.008);
    -ms-transform:scale(1.008);
    -o-transform:scale(1.008);
    transition: 0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
}
.projects .content .projectBox p{
    text-align: center;    
}
.projects .content .projectBox a:link,
.projects .content .projectBox a:visited,
.projects .content .projectBox a:active{
    color: #161616;
    text-decoration: none;
    font-weight: 600;
}
.white-clr{
    color: #fff;
}

/* TESTIMONIAL BLOCK */
.testimonial{
    background: #111;
}
.testimonial .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.testimonial .content .testimonialBox{
    background: #161616;
    margin: 20px;
    padding: 60px 40px;
    max-width: calc(50% - 40px);
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    cursor: pointer;
}
.testimonial .content .testimonialBox:hover{
    border-bottom: 2px solid #f5c71a;
}
.testimonial .content .testimonialBox p{
    color: #fff;
    font-style: italic;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    line-height: 24px;
}
.testimonial .content .testimonialBox h3{
    color: #f5c71a;
    margin-top: 40px;
    text-align: end;
    font-weight: 200;
    font-style: italic;
    line-height: 1.7em;
    font-size: 20px;
}

/* CONTACT BLOCK */

/* CONTACT ACTION */
.contact{
    background: #111;
}
.formBox{
    min-width: 60%;
}
.formBox form{
    display: flex;
    flex-direction: column;
}
.formBox form h3,
.contact-info h3{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.formBox form input,
.formBox form textarea{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    background: #161616;
    color: #fff;
    resize: vertical;
}
.formBox form input:focus,
.formBox form textarea:focus{
    border-bottom: 1px solid #f5c71a;
    transition: 0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
}
.formBox form input::placeholder,
.formBox form textarea::placeholder{
    color: #999;
}
.formBox form input[type="submit"]{
    color: #f5c71a;
    border-left: 1px solid #f5c71a;
    border-right: 1px solid #f5c71a;
    max-width: 250px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    letter-spacing: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1);
}
.formBox form input[type="submit"]:hover{
    color: #161616;
    background: #f5c71a;
}

/* CONTACT INFO */
.contact-info{
    min-width: 40%;
}
.contact-info p{
    color: #999;
}
.contact-infoBox{
    position: relative;
}
.contact-infoBox .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
/* .contact-info a.box{
} */
.contact-info .box .icon{
    color: #fff;
    min-width: 40px;
    padding-top: 4px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}
.contact-info .box .text{
    color: #999;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}
.contact-info .box{
    color: #f5c71a;
    font-weight: 500;
    text-decoration: none;
    margin: 0;
}
.contact-info .box:hover{
    border-left: 2px solid #f5c71a;
}
.contact-info .box .text p{
    font-style: normal;
    font-weight: 300;
    color: #999;
}

/* FOOTER BLOCK */
footer.copyright{
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* RESPONSIVE CODES */
@media(max-width: 991px){

    nav, nav.shrink{
        padding: 10px 20px;
    }
    nav .menu{
        display: none;
    }
    nav .menu{
        position: fixed;
        background: #fff;
        display: block;
        top: 75px;
        left: -100%;
        padding: 100px 50px;
        width: 100%;
        height: 100vh;
        text-align: center;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        transition: all 0.5s;
        -webkit-transition:0.5s;
        -moz-transition:0.5s;
        -ms-transition:0.5s;
        -o-transition:0.5s;
    }
    nav .menu.active{
        position: fixed;
        background: #fff;
        display: block;
        top: 75px;
        left: 0;
        padding: 100px 50px;
        width: 100%;
        height: 100vh;
        text-align: center;
    }
    nav ul li a{
        font-size: 20px;
        color: #111;
        font-weight: 400;
        margin-top: 10px;
    }
    .toggle{
        width: 40px;
        height: 40px;
        background: url(images/bars-solid.svg);
        filter: invert(1);
        -webkit-filter:invert(1);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
        transition: all 0.5s;
        -webkit-transition:0.5s;
        -moz-transition:0.5s;
        -ms-transition:0.5s;
        -o-transition:0.5s;
    }
    .toggle.active{
        width: 40px;
        height: 40px;
        background: url(images/times-solid.svg);
        filter: invert(1);
        -webkit-filter:invert(1);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
    nav.shrink .toggle{
        filter: invert(0);
        -webkit-filter:invert(0);
    }
    section{
        padding: 100px 30px;
    }
    .banner{
        padding: 150px 50px 100px;
    }
    .banner h2{
        font-size: 1.5em;
    }
    .banner h3{
        font-size: 1em;
    }
    .textBox{
        position: relative;
        top: 170px;
    }
    .bton{
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
        /* border-radius: 50px;
        -webkit-border-radius:50px;
        -moz-border-radius:50px;
        -ms-border-radius:50px;
        -o-border-radius:50px; */
    }
    .content{
        flex-direction: column;
    }
    .contentBox{
        padding: 0;
    }
    .content .w50 img{
        display: block;
        margin: 0 auto 30px auto;
    }
    .contentBox h2{
        font-size: 20px;
        font-weight: 300;
    }
    .contentBox h3{
        font-size: 20px;
    }
    .heading h2{
        font-size: 24px;
    }
    .mySkills .content .skillBox{
        margin: 10px;
    }
    .contact-info{
        margin: 10px 0;
    }
    .heading.bottom {
        flex-direction: column;
    }
}
@media(max-width: 768px){
    .testimonial .content .testimonialBox{
        max-width: calc(100% - 20px);
        padding: 40px 20px;
        margin: 30px;
    }
} 
/**SHARED STYLES**/

.card {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
.fnt-black{
      color: #161616 !important;
  }