/* POPPINS GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* BODY ALIGNMENT FIXED */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

/* HEADER BLOCK */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    transition: 0.5s;
}
header .logo{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
    position: relative;
}
header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
}

/* CONTENT BLOCK */ 
header.shrink{
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
header.shrink .logo,
header.shrink ul li a{
    color: #111;
}

/* CONTENT BLOCK */ 
section{
    padding: 80px;
}

/* BANNER BLOCK */
.banner{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    /* background: url("images/bannerImg.jpeg"); */
    background: linear-gradient(45deg, black, transparent), url(images/bannerImg.jpeg);
    background-size: cover;
    background-position: right center;
}
.banner h2{
    font-size: 2.5em;
    color: rgb(252, 252, 252);
    font-weight: 300;
    line-height: 1.5em;
}
.banner h2 span{
    font-size: 1.2em;
    color: #efefef;
}
.banner h3{
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
}

/* BUTTON */
.bton{
    position: relative;
    background-color: #009e66;
    display: inline-block;
    color: #000;
    margin-top: 20px;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
}

/* ABOUT ME */
.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}
.heading p{
    font-style: italic;
    font-size: 14px;
}
.heading h2{
    font-size: 3em;
    color: #009e66;
}
.content{
    display: flex;
    justify-content: space-between;
}
.contentBox{
    padding-left: 40px;
    text-align: justify;
}
img.profile-pic {
    width: 300px;
    height: 350px;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
}
.contentBox h2{
    font-weight: 300;
    margin-bottom: 10px;
}
.heading.bottom{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.bton.round{
    border-radius: 50px;
}
.bt{
    margin-top: 20px;
}
.w50{
    min-width: 25%;
}
img{
    max-width: 100%;
}

/* SERVICES BLOCK */
.services{
    background: #111;
}
.heading.white p{
    color: #fff;
}
.services .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.services .content .servicesBox{
    color: #fff;
    background: #161616;
    margin: 10px 15px;
    padding: 30px 15px;
    text-align: center;
    max-width: 360px;
}
.services .content .servicesBox:hover{
    border-bottom: 2px solid #009e66;
    cursor: pointer;
}
.services .content .servicesBox .fa{
    color: #009e66;
}

/* WORK BLOCK */
.work .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.work .content .workBox{
    width: 500px;   
    padding: 20px;
}
.work .content .workBox img{
    max-width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.4);
}
.work .content .workBox img:hover{
    box-shadow: 0 0 20px 5px #ccc;
    transform: scale(1.008);
    transition: 0.5s;
}
.work .content .workBox p{
    text-align: center;    
}
.work .content .workBox a:link,
.work .content .workBox a:visited,
.work .content .workBox a:active{
    color: #161616;
    text-decoration: none;
    font-weight: 600;
}
.white-clr{
    color: #fff;
}

/* TESTIMONIAL BLOCK */
.testimonial{
    background: #111;
}
.testimonial .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.testimonial .content .testimonialBox{
    background: #161616;
    margin: 20px;
    padding: 60px 40px;
    max-width: calc(50% - 40px);
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    cursor: pointer;
}
.testimonial .content .testimonialBox:hover{
    border-bottom: 2px solid #009e66;
}
.testimonial .content .testimonialBox p{
    color: #fff;
    font-style: italic;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    line-height: 24px;
}
.testimonial .content .testimonialBox h3{
    color: #009e66;
    margin-top: 40px;
    text-align: end;
    font-weight: 200;
    font-style: italic;
    line-height: 1.7em;
    font-size: 20px;
}

/* CONTACT BLOCK */

/* CONTACT ACTION */
.contact{
    background: #111;
}
.formBox{
    min-width: 60%;
}
.formBox form{
    display: flex;
    flex-direction: column;
}
.formBox form h3,
.contact-info h3{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.formBox form input,
.formBox form textarea{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    background: #161616;
    color: #fff;
    resize: vertical;
}
.formBox form input:focus,
.formBox form textarea:focus{
    border-bottom: 1px solid #009e66;
    transition: 0.5s;
}
.formBox form input::placeholder,
.formBox form textarea::placeholder{
    color: #999;
}
.formBox form input[type="submit"]{
    background: #009e66;
    max-width: 250px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50px;
    letter-spacing: 2px;
}

/* CONTACT INFO */
.contact-info{
    min-width: 40%;
}
.contact-info p{
    color: #999;
}
.contact-infoBox{
    position: relative;
}
.contact-infoBox .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contact-info .box .icon{
    color: #fff;
    min-width: 40px;
    padding-top: 4px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}
.contact-info .box .text{
    color: #999;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}
.contact-info .box .text h3{
    color: #009e66;
    font-weight: 500;
    margin: 0;
}
.contact-info .box .text p, address{
    font-style: normal;
    font-weight: 300;
    color: #999;
}
.contact-infoBox .socialBox{
    display: flex;
    flex-direction: row;
    padding-left: 60px;
    letter-spacing: 15px;
}
.contact-infoBox .socialBox .fa{
    font-size: 42px;
    color: #009e66;
    cursor: pointer;
}

/* FOOTER BLOCK */
footer.copyright{
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}